/* chosen fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif; */

html, body {
  background-color: rgb(250, 250, 250);
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

.website-title {
  text-align: center;
  background-color: aquamarine;
}

h3 {
  font-size: 18px;
  color: rgb(105, 105, 105);
}

#main-view {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  float: left;
  margin-bottom: 10px;
}

.grid-item-content img {
  display: block;
  max-width: 100%;
  border-radius: 5px;
}


/* ---- nav styles ---- */
nav {
  background-color: rgb(230, 230, 230);
}

nav a {
  border-radius: 0% !important;
}

.floating-btn {
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: lightblue;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:10px;
}
label {
  margin-bottom: 0;
}
#files-chosen {
  margin: 0 1rem 0 1rem;
}