<nav class="nav nav-pills nav-justified">
    <a class="nav-item nav-link {% if request.path == '/' %}active{% endif %}" href="/"><img height="24" width="24" src="static/img/gallery-line.svg" /></a>
    <a class="nav-item nav-link {% if request.path == '/upload' %}active{% endif %}" href="/upload"><img height="24" width="24" src="static/img/image-add-line.svg" /></a>
    <a class="nav-item nav-link {% if request.path == '/invite' %}active{% endif %}" href="/invite"><img height="24" width="24" src="static/img/user-add-line.svg" /></a>
</nav>