{% extends "layout.html" %}

{% block title %}Home{% endblock %}
{% block body %}
  <!-- add extra container element for Masonry -->
<div class="grid">
  <!-- add sizing element for columnWidth -->
  <div class="grid-sizer col-xs-12 col-sm-6 col-md-4"></div>
  <!-- items use Bootstrap .col- classes -->
  {% for file in filenames %}
  <div class="grid-item col-xs-12 col-sm-6 col-md-4">
    <div class="grid-item-content"><img src="static/uploads/{{ file }}"></div>
  </div>
  {% endfor %}
</div>
{% endblock %}