{% extends "layout.html" %}

{% block title %}Invite{% endblock %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-md-auto">
        <form action="/invite" method="post">
            <div class="form-group">
                <p>Enter the email addresses of people you want to invite, each on a seperate line:</p>
                <textarea class="form-control" rows="5" name="email" id="invite-emails" placeholder="emails"></textarea>
            </div>
            <div class="text-center">
                <button class="btn btn-primary" type="submit">Send invites</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}