{% extends "layout.html" %}
{% block title %}Batch Upload{% endblock %}

{% block body %}
<br>
<div class="row justify-content-center">
    <div class="col-md-auto">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <label for="files" class="btn btn-primary" type="button">Select files</label>
            <input type="file" name="file" id="files" accept="image/*,video/*" multiple hidden>
            <!-- numer of files chosen -->
            <span id="files-chosen">No file chosen</span>
            <input type="submit" class="btn btn-primary" id="upload_files" value="Upload">
        </form>        
    </div>
</div>
{% endblock %}